<section class="parent">
    <div class="service-one">

        <h1>Make-Up Clients</h1>
        <ul>
        {{#each issues }}
            <li><a href="/issues/{{ id }}">{{ description }}</a></li>
        {{/each}}
        </ul>

        <a href="/issues/new">Create new issue</a>

    </div><!---service-one--->

    <div class="service-two">
        
        <h1>Hair Clients</h1>
        <ul>
        {{#each issues }}
            <li><a href="/issues/{{ id }}">{{ description }}</a></li>
        {{/each}}
        </ul>

        <a href="/issues/new">Create new issue</a>

    </div><!---service-two--->

    <div class="service-three">
        
        <h1>Nail Cients</h1>
        <ul>
        {{#each issues }}
            <li><a href="/issues/{{ id }}">{{ description }}</a></li>
        {{/each}}
        </ul>

        <a href="/issues/new">Create new issue</a>

    </div><!---service-three--->

</section><!---End of Parent class-->