<section class="parent">
<h1>Update Nail Client Profile</h1>
<form method="POST" action="/nails/{{ nail.id }}?_method=PUT">
    <h4>Client Name:</h4>
    <input type="text" value="{{ nail.name }}" placeholder="Name" name="name"/><br/>
    <h4>Phone Number:</h4>
    <input type="text" value="{{ nail.phoneNum }}" placeholder="Phone Number" name="phoneNum"/><br/>
    <h4>Email Address:</h4>
    <input type="text" value="{{ nail.email }}" placeholder="Email" name="email"/><br/>
    <h4>Date Joined:</h4>
    <input type="text" value="{{ nail.apptDate }}" placeholder="Appointment Date" name="apptDate"/><br/>
    <h4>Enter Product Preferences:</h4>
    <input type="text" value="{{ nail.notes }}" placeholder="Client Notes" name="notes"/><br/>
    <h4>Nail Type:</h4>
    <input type="text" value="{{ nail.nailType }}" placeholder="nailType" name="nailType"/><br/>

    <input class="btn btn-dark button" type="submit" value="Update Client Profile"/>
</form>
</section>