<div class="issue-show-page">
    <h2>{{ nail.name }} Nails Profile</h2>
    <p>{{ nail.phoneNum }}</p>
    <p>{{ nail.email }}</p>
    <p>{{ nail.apptDate }}</p>
    <p>{{ nail.notes }}</p>
    <p>{{ nail.nailType }}</p>

    <a href="/nails/{{ nail.id }}/edit">Edit Client Profile</a>

    <a href="/nails">Back to Dashboard</a>

    <form method="POST" action="/nails/{{ nail.id }}?_method=DELETE">
        <input type="submit" value="Delete Client Profile"/>
    </form>
</div>