<section class="parent">
<h1>{{ nail.name }} Nails Profile</h1>
<div class="issue-show-page">
    
    <p>{{ nail.phoneNum }}</p>
    <p>{{ nail.email }}</p>
    <p>{{ nail.apptDate }}</p>
    <p>{{ nail.notes }}</p>
    <p>{{ nail.nailType }}</p>

    <a href="/nails/{{ nail.id }}/edit">Edit Client Profile</a>

    <a href="/nails">Back to Client Profiles</a>

    <form method="POST" action="/nails/{{ nail.id }}?_method=DELETE">
        <input type="submit" value="Delete Client Profile"/>
    </form>
</div>
</section>