<section class="parent">
    <div class="service-one">

        <h1>Makeup Client Profiles</h1>
        <ul>
        {{#each issues }}
            <li><a href="/issues/{{ id }}">{{ name }} {{ apptDate }}</a></li>
        {{/each}}
        </ul>

        <a href="/issues/new">Create New Client Profile</a>

    </div><!---service-one--->

    <div class="service-two">
        
        <h1>Hair Client Profiles</h1>
        <ul>
        {{#each hairs }}
            <li><a href="/hair/{{ id }}">{{ name }} {{ apptDate }}</a></li>
        {{/each}}
        </ul>

        <a href="/hair/new">Create New Client Profile</a>

    </div><!---service-two--->

    <div class="service-three">
        
        <h1>Nail Client Profiles</h1>
        <ul>
        {{#each nails }}
            <li><a href="/nails/{{ id }}">{{ name }} {{ apptDate }}</a></li>
        {{/each}}
        </ul>

        <a href="/nails/new">Create New Client Profile</a>

    </div><!---service-three--->

</section><!---End of Parent class-->