<section class="parent">
<h1>{{ hair.name }} Hair Profile</h1>
<div class="issue-show-page">
    
    <p>{{ hair.phoneNum }}</p>
    <p>{{ hair.email }}</p>
    <p>{{ hair.apptDate }}</p>
    <p>{{ hair.notes }}</p>
    <p>{{ hair.hairType }}</p>

    <a href="/hairs/{{ hair.id }}/edit">Edit Client Profile</a>

    <a href="/hairs">Back to Client Profiles</a>

    <form method="POST" action="/hairs/{{ hair.id }}?_method=DELETE">
        <input type="submit" value="Delete Client Profile"/>
    </form>
</div>
</section>