<div class="issue-show-page">
    <h2>Current issue</h2>
    <p>{{ issue.name }}</p>
    <p>{{ issue.phoneNum }}</p>
    <p>{{ issue.email }}</p>
    <p>{{ issue.apptDate }}</p>
    <p>{{ issue.notes }}</p>
    <p>{{ issue.skinType }}</p>

    <a href="/issues/{{ issue.id }}/edit">Edit Client Profile</a>

    <form method="POST" action="/issues/{{ issue.id }}?_method=DELETE">
        <input type="submit" value="Delete Client Profile"/>
    </form>
</div>
